---
import Layout from '../layouts/Layout.astro';

import {
  Badge,
  SocialBanner,
  SectionContainer,
  Experience,
} from '../components/index.astro';

// Icons:
import {
  GitHubIcon,
  MailIcon,
  LinkedInIcon,
  Briefcase,
} from '../components/icons/index.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout
  title='Portfolio de Alexdev - Desarrollador Web con más de 2 años de experiencia'
  description='Desarrollador frontend. Disponible para trabajar. Ingeniero en Sistemas Computacionales'
>
  <main class='mx-5 xl:mx-0'>
    <SectionContainer class='py-44 pb-32' id='presentación'>
      <img
        class='rounded-full size-12 mb-4'
        src='/avatar.webp'
        alt='ar icon '
        style='object-fit: cover; clip-path: circle(50% at center)'
      />
      <h1
        class='text-gray-900
         dark:text-white
         text-3xl md:text-4xl
         lg:text-5xl font-bold
         flex flex-col items-start
         gap-x-4 pb-6 lg:pb-10
         sm:flex-row sm:items-center'
      >
        Hola! Soy Alex<a
          aria-label='Disponible para trabajar'
          href='https://linkedin.com/in/alexdevrr'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center sm:mt-0 mt-2'
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <!-- TODO: Adaptar los colores -->
      <div class='max-w-[500px]'>
        <h2
          class='text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white'
        >
          <span>+2 años de experiencia.</span><span
            class='text-secondary/80 dark:text-secondary'
          >
            Desarrollador de Software</span
          >.
          <span class='text-darkGray dark:text-customGray'>
            De Jalisco, México</span
          >.
          <span class='text-secondary dark:text-primary'
            >Especializado en el desarrollo frontend.</span
          >
        </h2>
      </div>

      <nav class='flex gap-4 mt-8 flex-wrap'>
        <SocialBanner
          aria-label='Abrir Linkedin de alexdevrr'
          href='https://linkedin.com/in/alexdevrr'
        >
          <LinkedInIcon class='size-4 md:size-6' />
          LinkedIn
        </SocialBanner>
        <SocialBanner
          aria-label='Abrir Github de alexdevrr'
          href='https://github.com/alexdevrr05'
        >
          <GitHubIcon class='size-4 md:size-6' />
          GitHub
        </SocialBanner>
        <SocialBanner
          aria-label='alexkey0516@gmail.com'
          href='mailto:alexkey0516@gmail.com'
        >
          <MailIcon class='size-4 md:size-6' />
          alexkey0516@gmail.com
        </SocialBanner>
      </nav>
    </SectionContainer>
    <SectionContainer id='experiencia'>
      <h2
        class='text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-customGray'
      >
        <Briefcase class='size-7' />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id='proyectos'>
      <h2
        class='text-3xl font-semibold mb-6 flex gap-x-3 items-center text-darkGray dark:text-customGray'
      >
        <Code class='size-7' />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style></style>
