---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Portafolio | Alex'>
  <main>
    <h1
      class='text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10'
    >
      Epa! Soy Alex
    </h1>
  </main>
</Layout>

<style></style>
