<div>
  <span class='relative flex overflow-hidden rounded-full p-[1px]'>
    <span
      class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#66FCF1_0%,#393BB2_50%,#45A29E_100%)]'
    ></span>
    <div
      class='inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-white px-3 py-1 text-sm font-medium text-darkGray dark:text-white backdrop-blur-3xl whitespace-nowrap'
    >
      <slot />
    </div>
  </span>
</div>
