<nav
  class='flex justify-between bg-indigo-400 mx-auto w-full xl:w-[768px] py-5 z-10'
>
  <div class='text-white'>
    <a href='#'>Alejandro Ramírez</a>
    <a href='#'>Experiencia</a>
    <a href='#'>Sobre mí</a>
    <a href='#'>Contacto</a>
  </div>
</nav>
