---
import '@fontsource-variable/onest';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QLM1CST0RH"></script>
  <scrict>
    {`window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QLM1CST0RH');`}
  </scrict>

  <body class='relative text-darkGray dark:text-white'>
    <!-- bg-[radial-gradient(ellipse 80% 80% at 70% -30%,rgba(39,196,245,0.4),rgba(255,255,255,0))] -->
    <div
      class='absolute
       top-0
       bottom-0
       z-[-2]
       min-h-screen
       w-full
       bg-[radial-gradient(ellipse_80%_80%_at_70%_-30%,rgba(39,196,245,0.4),rgba(255,255,255,0))]
       dark:bg-[radial-gradient(ellipse_80%_80%_at_70%_-30%,rgba(44,111,213,0.3),rgba(255,255,255,0))]
       dark:bg-neutral-950'
    >
    </div>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: 'Onest', system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }

      .link-active {
        @apply bg-white/40 font-semibold dark:bg-white/15 shadow-lg shadow-primary/20 backdrop-blur-2xl;
      }
    </style>
  </body>
</html>
